!jest.config.js
*.d.ts
node_modules
dist
lambda.zip

# CDK asset staging directory
.cdk.staging
cdk.out

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*
.env*.local
!.env.example
