# All rules apply to the main branch only

# Rule for leaders

* @leader

# Rules for security

/.github/workflows/release.yml @admin
/.github/workflows/deployment.yml @admin @leader
/.github/CODEOWNERS @admin
